<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <beans:bean id="articlePopulationService" class="net.almaak.cms.migration.service.ArticlePopulationServiceImpl">
        <beans:property name="imageLoaderService`" ref="imageLoaderService"/>
    </beans:bean>

    <beans:bean id="imageLoaderService" class="net.almaak.cms.migration.service.ImageLoaderServiceImpl"/>

    <beans:bean id="sourceDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <beans:property name="url" value="jdbc:mysql://localhost:8889/mydb"/>
        <beans:property name="username" value="mydbuser"/>
        <beans:property name="password" value="mydbpwd"/>
    </beans:bean>

    <beans:bean id="targetDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <beans:property name="url" value="jdbc:mysql://localhost:8889/mytargetdb"/>
        <beans:property name="username" value="mydbuser"/>
        <beans:property name="password" value="mydbpwd"/>
    </beans:bean>

    <beans:bean id="sourceJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <beans:property name="dataSource" ref="sourceDataSource"/>
    </beans:bean>

    <beans:bean id="targetJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <beans:property name="dataSource" ref="targetDataSource"/>
    </beans:bean>



</beans:beans>